* {
    box-sizing: border-box;
}

body {
    background: url(../css/img/start-screen-gradient-background.png);
}

.nav {
    display: flex;
    justify-content: space-between;


}

.dogs {
    border: 1px yellow;
    color: darkgray;
    column-gap: 23px;
}

.nav_item {
    column-gap: 20px;
}

.nav_link {
    border: 1px yellow;
    color: darkgray;
    column-gap: 23px;
}

.wrapper {

    min-height: 3256px;
}

.content {
    margin: 0 auto;
    max-height: 3256px;
}

.offer {
    display: flex;
}

ul,
li {
    list-style: none;
}

html,
body {
    height: 100%;
}

.object {
    position: absolute;
}


.wrapper {
    min-height: 455px;
}


.title_block {
    font-size: 100px;
    margin: 10px;
}

.btn {
    box-shadow: 0px 4px 20px #FFC59E;
    background-color: #FFC59E;
    box-shadow: 0px 4px 20px #FFC59E;
    border: none;
    text-transform: uppercase;
    border-radius: 33.5px;
    line-height: 20px;
    padding: 24px 77px;

}

.description block {
    display: flex;
    justify-content: first baseline;
}

.btn_qaz {
    display: flex;
    justify-content: baseline;


}

.dearly {
    font-size: 50px;
    color: #fefafa;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.vand {
    width: 698px;
    height: 728px;
}

.title-block {
    font-size: 50px;
    color: #fefafa;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    margin: 0 auto;
    max-height: 3256px;

}

.vv {
    font-size: 8px;
    color: #fefafa;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tt {
    display: flex;
    justify-content: end;

}

.k {
    font-size: 20px;
    color: #fefafa;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
}

.nav_item {
    color: #ff6600;

}


.friend {
    font-size: 20px;
    color: #8b8b8b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.texst {
    font-size: 50px;
    color: #fefafa;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    justify-content: last baseline;
}

.block {
    font-size: 40px;
    color: #151515;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.description {
    font-size: 40px;
    color: #2d2a2a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}

.logo {
    background-color: #fefafa;
}

.hero {
    background-image: url(../css/img/start-screen-gradient-background.png);
}


.description {
    display: flex;
    justify-content: flex-start;
}

.block {
    justify-self: start;
}

.description block {
    display: flex;
    justify-content: flex-start;
}